<section class="banner-carousel">
  <div class="banner-slide active" style="background-image: url('../img/banner1.png');">
    <div class="banner-text">
      <h1>FOR FIT CAFETERIA</h1>
      <p>
        Lanches e cafés agora no site!<br>
        Uma pausa com mais sabor, carinho e praticidade.<br>
        Receba no conforto da sua casa ou trabalho.<br>
        Acesse o menu completo na aba CAFETERIA do site da ForFit.
      </p>
      </div>
  </div>

  <div class="banner-slide" style="background-image: url('../img/banner2.png');">
    <div class="banner-text">
      <h1>NOVIDADE! MARMITAS VEGANAS</h1>
      <p>
        Opções deliciosas e nutritivas para seu dia a dia.<br>
        Feitas com ingredientes frescos e selecionados.<br>
        Peça agora e descubra novos sabores!
      </p>
      </div>
  </div>

  <div class="banner-slide" style="background-image: url('../img/banner3.png');">
    <div class="banner-text">
      <h1>PROMOÇÃO DA SEMANA</h1>
      <p>
        Não perca nossas ofertas especiais!<br>
        Pratos selecionados com descontos imperdíveis.<br>
        Aproveite para comer bem e economizar!
      </p>
      </div>
  </div>

  <div class="banner-slide" style="background-image: url('../img/banner4.png');">
    <div class="banner-text">
      <h1>LANÇAMENTO SAUDÁVEL</h1>
      <p>
        Smoothies e sucos naturais com ingredientes frescos.<br>
        Energia e sabor para o seu dia a dia.<br>
        Experimente as novas combinações!
      </p>
      </div>
  </div>

  <div class="banner-slide" style="background-image: url('../img/banner5.png');">
    <div class="banner-text">
      <h1>COMBO FITNESS</h1>
      <p>
        Marmita + Suco por um preço especial!<br>
        Aproveite a combinação perfeita para sua dieta.<br>
        Peça já o seu combo e mantenha o foco!
      </p>
      </div>
  </div>

  <span class="info-local-fixed">R$ 5,00 pra entregas em Cascavel</span>

  <div class="banner-dots">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</section>