<div class="meal-card">
  <div class="meal-card-image-container">
    <img src="img/macarrao-frango.png" alt="Macarrão com Frango ao Molho de Queijo" class="meal-card-image">
  </div>
  <div class="meal-card-content">
    <h3 class="meal-card-title">Macarrão com Frango ao Molho de Queijo.</h3>
    <span class="meal-card-code">#925</span>
    <button class="meal-card-button">
      <span class="meal-card-price">R$23,90</span>
      <span class="meal-card-add-text">+Adicionar ao carrinho</span>
    </button>
  </div>
  <button class="remove-item-button" data-item-id="">-</button> 
</div>