<div id="product-selector-modal" class="modal-overlay">
    <div class="modal-content product-selector-modal-content">
        <span class="close-button" data-modal-id="product-selector-modal">&times;</span>
        <h2 class="modal-title">Selecionar Produto para a Promoção</h2>
        
        <div class="item-search-bar">
            <input type="text" id="product-selector-search-input" placeholder="Pesquisar produtos pelo nome...">
        </div>

        <div class="admin-items-grid product-selection-grid">
            <p class="placeholder-text">Carregando produtos...</p>
            </div>

        <div class="selector-modal-actions">
            <button id="add-selected-product-button" class="submit-button" disabled>Adicionar Produto Selecionado</button>
            <button id="cancel-product-selection-button" class="cancel-button">Cancelar</button>
        </div>
    </div>
</div>