<section class="promocoes-section">
  <div class="promocoes-header">
    <h2 class="promocoes-title">PROMOÇÕES</h2>
  </div>
  <div class="promocoes-carousel-container">
    <div class="promocoes-carousel">
      <div class="promocao-item">
        <a href="link-para-pagina-da-promocao-1.html" class="promo-link">
          <img src="img/promocao1.png" alt="Promoção Combo ForFit" class="promo-img">
        </a>
      </div>
      <div class="promocao-item">
        <a href="link-para-pagina-da-promocao-2.html" class="promo-link">
          <img src="img/promocao2.png" alt="Promoção 40 Refeições" class="promo-img">
        </a>
      </div>
      <div class="promocao-item">
        <a href="link-para-pagina-da-promocao-3.html" class="promo-link">
          <img src="img/promocao1.png" alt="Promoção 10 Refeições" class="promo-img">
        </a>
      </div>
      <div class="promocao-item">
        <a href="link-para-pagina-da-promocao-4.html" class="promo-link">
          <img src="img/promocao2.png" alt="Promoção Macarrão com Frango" class="promo-img">
        </a>
      </div>
      <div class="promocao-item">
        <a href="link-para-pagina-da-promocao-5.html" class="promo-link">
          <img src="img/promocao1.png" alt="Promoção Hambúrguer Saudável" class="promo-img">
        </a>
      </div>
      <div class="promocao-item">
        <a href="link-para-pagina-da-promocao-6.html" class="promo-link">
          <img src="img/promocao2.png" alt="Promoção Salada Fresca" class="promo-img">
        </a>
      </div>
    </div>
  </div>
  <button class="carousel-arrow carousel-arrow-left" aria-label="Anterior">
    <i class="fas fa-chevron-left"></i>
  </button>
  <button class="carousel-arrow carousel-arrow-right" aria-label="Próximo">
    <i class="fas fa-chevron-right"></i>
  </button>
</section>